[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "reservoirnet"]
	path = reservoirnet
	url = https://github.com/reservoirpy/reservoirr
